<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %> </title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include('partials/nav.ejs', {csrfToken: csrfToken}) %>
        <h3>Welcome, <%= email %></h3>
    </body>
</html>